<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <title>Transfer</title>
</head>
<body>
<div th:replace="~{/navbar::topbar}"></div>
<div id="transfer" class="container main-container">
    <div class="table-responsive">
        <table class="table table-striped table-hover mt-3" id="transactionTable">
            <thead>
            <tr class="bg-success text-white">
                <th>Connection</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction: ${transactionList}" >
                <td th:text="${transaction.getToAccount().getUser().getUserName()}">
                    Connections</td>
                <td th:text="${transaction.getDescription()}">Description</td>
                <td th:text="${transaction.getAmount()+'€'}">Amount</td>
            </tr>
            </tbody>
        </table>
        <div class="list-inline text-xl-center mb-3 mt-3 blockquote" style="padding-right: 6rem;">
            <div th:if="${transactionList.totalPages > 0}" class="list-inline-item p-0"
                 th:each="pageNumber : ${pageNumbers}">
                <ul>
                    <ol>
                        <a th:href="@{/transfer(size=${transactionList.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==transactionList.number + 1} ? active"></a>
                    </ol>
                </ul>
            </div>
        </div>
    </div>
    <footer class="mt-auto text-center">
        <p>PayMyBuddy © 2022 - 2023</p>
    </footer>
</div>
</body>
</html>